java-kata/.classpath
java-kata/.project
java-kata/.settings/org.eclipse.jdt.apt.core.prefs
java-kata/.settings/org.eclipse.jdt.core.prefs
java-kata/.settings/org.eclipse.m2e.core.prefs
java-kata/target/dependencies.txt
